// conda.enabled=true

docker.enabled = true
docker.userEmulation = true
docker.runOptions = "--platform linux/x86_64"



params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = true
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
    withName: SAMTOOLS_SORT {
        ext.prefix = "samtools_sort_"
    }
}


